<p class="test-contact-name">{{contact.name}}</p>
<p class="test-contact-primary-email">
	<a href="mailto:{{contact.primaryEmail.[0].address}}">
		{{contact.primaryEmail.[0].address}}
	</a>
	(+{{additionalEmails}})
</p>

<p class="test-contact-primary-phone">
	<a href="tel:{{contact.primaryPhone.[0].number}}">
		{{contact.primaryPhone.[0].number}}
	</a>
	(+{{additionalPhones}})
</p>
						