{{#paper-sidenav class="md-sidenav-left md-whiteframe-z2" locked-open="gt-sm"}}
    {{#paper-toolbar}}
      <div class="md-toolbar-tools">
        <div class="logo">
          <strong>{{location}}</strong>
        </div>
      </div>
    {{/paper-toolbar}}

    {{#paper-content}}
      {{#paper-list}}
        {{#paper-item}}
          {{#paper-button raised=true primary=true action="compose"}}
            Compose
          {{/paper-button}}
        {{/paper-item}}

        {{#paper-item}}
          {{#link-to "mail.folder" "inbox"}}Inbox{{/link-to}}
        {{/paper-item}}

        {{#paper-item}}
          {{#link-to "contacts"}}Contacts{{/link-to}}
        {{/paper-item}}

        {{#paper-item}}
          <a href="#">Spam</a>
        {{/paper-item}}
      {{/paper-list}}
    {{/paper-content}}
  {{/paper-sidenav}}