{{#paper-nav-container}}
  {{side-nav location="Contacts"}}

  <div layout="column" tabindex="-1" role="main" flex>
    {{tool-bar location='Contacts'}}

		{{#paper-content class="md-padding md-whiteframe-z1"}}
			<form>
				<div layout="" layout-sm="column">
		   		{{paper-input class="test-contact-name" flex=50 label="Name" value=model.name}}
		 		</div>
				<div layout="" layout-sm="column">
		   		{{paper-input class="test-contact-email" flex=50 label="E-mail" type="email" value=model.primaryEmail.[0].address}}
				</div>
				<div layout="" layout-sm="column">
		   		{{paper-input class="test-contact-email" flex=50 label="Alternate E-mail" type="email" value=model.alternateEmail.[0].address}}
				</div>
				<div layout="" layout-sm="column">
		   		{{paper-input class="test-contact-email" flex=50 label="Work E-mail" type="email" value=model.workEmail.[0].address}}
				</div>
				<div layout="" layout-sm="column">
		   		{{paper-input class="test-contact-phone" flex=50 label="Primary Phone" type="phone" value=model.primaryPhone.[0].number}}
				</div>
				<div layout="" layout-sm="column">
		   		{{paper-input class="test-contact-phone" flex=50 label="Alternate Phone" type="phone" value=model.alternatePhone.[0].number}}
				</div>
				<div layout="">
					<button {{action 'update' model}} type="submit" class="md-raised md-default-theme md-button">Update</button>
				</div>
			</form>
		{{/paper-content}}
  </div>
{{/paper-nav-container}}