{{#paper-nav-container}}
  {{side-nav location="Contacts"}}

  <div layout="column" tabindex="-1" role="main" flex>
  	{{tool-bar location='Contacts'}}

  	{{#paper-content class="md-padding md-whiteframe-z1"}}
  		{{#paper-list}}
				{{#each contacts as |contact|}}
					{{#link-to "contacts.contact" contact.id class="test-contact-link"}}
						{{#paper-item class="test-contact"}}
							{{contact-row-item contact=contact}}
						{{/paper-item}}
					{{/link-to}}
				{{/each}}
  		{{/paper-list}}
    
  	{{/paper-content}}
	</div>
{{/paper-nav-container}}
