{{#paper-nav-container}}
  {{side-nav location="Mail"}}

  <div layout="column" tabindex="-1" role="main" flex>
    {{tool-bar location="Mail"}}

    {{#paper-content class="md-padding md-whiteframe-z1"}}
      {{outlet}}
    {{/paper-content}}
  </div>
{{/paper-nav-container}}
